{% extends 'main.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for key, value in context.items %}
            <div class="container mt-5">
                <div class="row">
                    <button name="buttonUp" class="btn btn-lg" type="submit" value="1"><i class="fas fa-arrow-up"></i>
                    </button>
                </div>
                <div class="row mt-4 ml-4">
                    <p>{{ value }}</p>
                </div>
                <div class="row">
                    <button name="buttonDown" class="btn btn-lg" type="submit" value="-1"><i
                            class="fas fa-arrow-down"></i>
                    </button>
                </div>
            </div>
        {% endfor %}

    </form>
{% endblock content %}