{% extends 'main.html' %}
{% load static %}

{% load widget_tweaks %}

{% block style %}
    <title>Community</title>
    <link rel="stylesheet" href="{% static 'styles/community.css' %}">
{% endblock style %}

{% block content %}
    <div class="wrapper">
        <form class="post_creation_form" method="POST">
            {% csrf_token %}

{#            {% for field in form %}#}
{#                <div class="{{ field.label }}">#}
{#                    <label for="title">{{ field.label }}</label>#}
{#                    {{ field }}#}
{#                </div>#}
{#            {% endfor %}#}

            <div class="name">
                <label for="title" id="title">Title:</label>
                {% render_field form.title type="textarea" class="post_name" id="post_name" name="post_name" rows="1" cols="50" placeholder="Title..." maxlength="42" %}
            </div>

            <div class="topic">
                <label for="topics" id="topic">Topic:</label>
                {% render_field form.topic type="select" name="topic_names" id="topics" %}
            </div>

            <div class="post_content">
                <label for="content" id="content">Content:</label>
                {% render_field form.content class="content" id="content" name="content" rows="10" cols="50" placeholder="Content..." %}
            </div>

            <input type="submit" class="btn create_post_btn" style="color: black; background: white">
        </form>
    </div>
{% endblock content %}