* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: #2B1055;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    font-weight: 400;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

#dropdownMenuLink {
    text-decoration: none;
    background-color: transparent !important;
    box-shadow: none;
    text-transform: none;
    font-size: 1em;
    padding-right: 0;
}

.dropdown-menu {
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-item {
    border-radius: 20px;
}

.dropdown-item:hover {
    border-radius: 20px;
    background: #2b1055;
    color: #fff;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

.jumbotron.jumbotron-fluid {
    mix-blend-mode: lighten;
    height: 25rem;
    display: flex;
}

img {
    width: 25%;
    align-items: left;
    justify-content: left;
    position: relative;
}

.word {
    width: 60%;
    height: 40px;
    border-radius: 24px;
    text-align: left;
    font-size: 20px;
    padding: 4px 15px;
    resize: none;
}

.wotd-card {
    right: 0;
    text-align: center;
    background: antiquewhite;
    padding: 35px;
    width: 40%;
    height: 40%;
    float: right;
    /* margin-right: 20%; */
    color: #2b1055;
}

.the-rest {
    margin: 30px auto;
    width: 80%;
    padding: 0% 5%;
    max-height: max-content;
}

.result p {
    color: antiquewhite;
}

.result {
    float: left;
    width: 40%;
}

h4.wotd-title {
    font-size: 21px;
}

h1.wotd {
    font-weight: 600;
}

.wotd-card hr {
    background: #2b1055;
}

h2#pronunce {
    font-size: small;
}

.the-rest h1#word {
    font-size: 36px;
    color: #aab0ff;
    padding-left: 0px;
    margin-bottom: 30px;
}

p.meaningheading {
    padding-top: 30px;
}

p.phonetics {
    color: #aab0ff;
}

p.pills {
    color: #ffa382 !important;
}