@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    font-weight: 400;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

#dropdownMenuLink {
    text-decoration: none;
    background-color: transparent !important;
    box-shadow: none;
    text-transform: none;
    font-size: 1em;
    padding-right: 0;
}

.dropdown-menu {
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-item {
    border-radius: 20px;
}

.dropdown-item:hover {
    border-radius: 20px;
    background: #2b1055;
    color: #fff;
}

.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.success {
    color: #5cb85c;
    border: 1px solid #5cb85c;
    background: #bcf5bc;
}

.error {
    color: whitesmoke;
    border: 1px solid #d9534f;
    background: #d9534f;
}

@media (max-width: 992px) {
    #header {
        padding: 20px;
    }
    #header .logo {
        font-size: 1.5em;
    }
    #header .navigation {
        display: none;
    }
    #header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100vh;
        background: #2b1055;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #header .navigation li {
        margin-left: 0;
    }
    #header .navigation li a {
        font-size: 1.2em;
        margin: 5px 0;
        border-radius: 30px;
        display: inline-block;
    }
    #dropdownMenuLink {
        font-size: 1.2em;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2000;
    }
    .toggle.active {
        background: url(../images/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .sec {
        padding: 20px;
    }
    .sec h2 {
        font-size: 1.5em;
    }
}


/*DONE NAVBAR*/


/*BANNER*/

.main-banner {
    background: #2b1055;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 10000;
}

.main-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
    pointer-events: none;
}

.main-banner img#moon {
    mix-blend-mode: screen;
}

.main-banner img#mountains_front {
    z-index: 10;
}

.main-banner #text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    line-height: 0.5em;
    margin-top: 30px;
    text-align: center;
    transform: translateY(-50%);
    z-index: 10;
}

.main-banner #text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
}

.sec {
    position: relative;
    padding: 100px;
}


/*INTRO*/

.intro {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.intro h4 {
    color: #2b1055;
}

.intro .container .row .col-4 img {
    width: 220px;
    height: 200px;
}

.intro .container .row .col-8 p {
    color: rgb(119, 119, 119);
}

.intro .container .row .col-8 a i {
    margin-right: 10px;
}

hr {
    width: 80%;
    background: #2b1055;
}

section.intro:nth-child(9)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>img:nth-child(1) {
    width: 200px;
    height: 250px;
}

.intro .btn {
    width: 200px;
}

.intro .btn i {
    font-size: 2rem;
}


/*DETAILS*/

.details h4,
.areas h4 {
    font-size: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 5s steps(20) infinite alternate;
    font-size: 40px;
    color: #2b1055;
    border-right: 3px solid;
    margin-bottom: 100px;
}

@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 16ch;
    }
}

.details {
    padding-top: 50px;
    padding-bottom: 50px;
}

div.col-md-4:nth-child(1)>div:nth-child(1)>img:nth-child(1) {
    width: 220px;
    height: 200px;
}

div.col-md-4:nth-child(2)>div:nth-child(1)>img:nth-child(1) {
    width: 200px;
    height: 200px;
}

div.col-md-4:nth-child(3)>div:nth-child(1)>img:nth-child(1) {
    width: 250px;
    height: 200px;
}


/*AREAS*/

.areas {
    padding-top: 50px;
    padding-bottom: 50px;
}

.areas .row .col {
    margin: 0 10px;
    transition: 1s;
    box-shadow: 10px;
}

.areas .row .col:hover {
    transform: scale(1.1);
    z-index: 2;
}


/*TEAM*/

.team {
    padding-top: 50px;
    padding-bottom: 50px;
}

.team h4 {
    font-size: 40px;
    color: #2b1055;
    margin-bottom: 20px;
}

.team .row {
    padding-left: 200px;
}

.team>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>img:nth-child(1) {
    width: 150px;
    height: 156.467px;
}

.team>div:nth-child(1)>div:nth-child(3)>div:nth-child(2)>img:nth-child(1) {
    width: 150px;
    height: 164.667px;
}

.team>div:nth-child(1)>div:nth-child(3)>div:nth-child(3)>img:nth-child(1) {
    width: 150px;
    height: 119.967px;
}

div.row:nth-child(4)>div:nth-child(1)>img:nth-child(1) {
    width: 240px;
    height: 239.167px;
}

div.row:nth-child(4)>div:nth-child(2)>img:nth-child(1) {
    width: 240px;
    height: 183.583px;
}

div.row:nth-child(4)>div:nth-child(1) {
    margin-left: 80px;
}


/*FOOTER*/

footer {
    background: url(../images/stars.png);
    background-color: #2b1055;
}

footer i {
    font-size: 2rem;
}

@media (max-width: 992px) {
    section.intro:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>img:nth-child(1) {
        width: 150px;
        height: 150px;
    }
    .areas>div:nth-child(1)>h4:nth-child(1),
    .details>div:nth-child(1)>h4:nth-child(1) {
        font-size: 2rem;
    }
    .team>div:nth-child(1)>div:nth-child(3),
    div.row:nth-child(4) {
        padding-left: 0;
        margin-left: 0;
    }
}