{% extends 'main.html' %}
{% load static %}
{% block style %}
    <title>Community</title>
    <link rel="stylesheet" href="{% static 'styles/community.css' %}">
{% endblock style %}

{% block content %}
    {#    <h1>Create Page</h1>#}
    {##}
    {#    <form action="" method="POST">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        <input type="submit">#}
    {#    </form>#}
    <div class="wrapper">
        <form class="post_creation_form" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="post_content">
                    <label for="title">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {#            <div class="topic">#}
            {#                <label for="topics" id="topic">Topic:</label>#}
            {#                <select name="topic_names" id="topics">#}
            {#                    <option value="english">English</option>#}
            {#                    <option value="mandarin">Mandarin</option>#}
            {#                    <option value="vietnamese">Vietnamese</option>#}
            {#                    <option value="french">French</option>#}
            {#                </select>#}
            {#            </div>#}
            {##}
            {#            <div class="post_content">#}
            {#                <label for="content" id="content">Content:</label>#}
            {#                <textarea class="content" id="content" name="content" rows="10" cols="50"#}
            {#                          placeholder="Content..."></textarea>#}
            {#            </div>#}
            <input type="submit" class="btn create_post_btn" style="color: black    ; background: white">
        </form>
    </div>
{% endblock content %}