{% extends 'dashboard.html' %}
{% load static %}

{% block content %}

        <form action="" method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete {{ object }}</p>
            <input type="submit" value="Confirm">
            <a href="{% url 'questions_list' %}">
                Go back
            </a>

        </form>

{#    <div class="modal fade" id="comment" tabindex="-1" aria-labelledby="commentLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="commentLabel">Delete Post</h5>#}
{#                    <button type="button" class="btn-close" data-mdb-dismiss="modal"#}
{#                            aria-label="Close"></button>#}
{#                </div>#}
{#                <form action="" method="POST">#}
{#                    {% csrf_token %}#}
{#                    <div class="modal-footer">#}
{##}
{#                        <a href="{% url 'questions_list' %}">#}
{#                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Go back#}
{#                            </button>#}
{#                        </a>#}
{#                        <input type="submit" value="Confirm">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>#}
{% endblock content %}